<label
    class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon property-field">

    <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="0" role="button"
        onclick="clearSearch()" id="clear-icon">clear</i>

    <input type="text" class="mdc-text-field__input" aria-labelledby="{{id}}-label" id="{{id}}"
        value="{{#if value}}{{value}}{{/if}}">

    <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
            <span class="mdc-floating-label" id="{{id}}-label">{{title}}</span>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
    </div>
    <i class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing" onclick="search()" tabindex="0"
        role="button" id="search-icon">search</i>

</label>